<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Inheriting base Html</title>
</head>
<body>

	<section>
		<h1>This is text from Inherit html</h1>

		<h3>The goal of Thymeleaf is to provide a stylish and well-formed
			way of creating templates. It is based on XML tags and attributes.
			These XML tags define the execution of predefined logic on the DOM
			(Document Object Model) instead of explicitly writing that logic as
			code inside the template. It is a substitute for JSP.</h3>
	</section>


</body>
</html>