<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Inheriting base Html</title>
</head>
<body>

	<section>
		<h1>This is text from Inherit html</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
			corporis quia autem porro ipsam repellendus dolorem laborum provident
			impedit veritatis distinctio debitis iure tempore libero eius
			voluptatibus maiores suscipit deserunt nemo optio delectus excepturi
			laudantium amet similique perspiciatis tenetur sunt! Est possimus
			consectetur et aliquam molestiae commodi repudiandae libero
			aspernatur.</p>

	</section>


</body>
</html>